<!DOCTYPE html>
<html lang="en">
<head>
  <% include ../partials/head %>
</head>
<body>
  <div id="wrapper">
    <% include ../partials/nav %>
    <!-- Page Content -->
    <div id="page-wrapper">
      <div class="container-fluid">
        <div class="row">
          <div class="col-lg-12">
            <h1 class="page-header">Blank</h1>
          </div>
          <!-- /.col-lg-12 -->
        </div>
        <div class="row">
          <div class="col-lg-12">
            <div class="panel panel-default">
              <div class="panel-heading">
                  Basic Form Elements
              </div>
              <div class="panel-body">
                <div class="row">
                  <div class="col-lg-6">
                    <form role="form" id="list_form" name="list_form">
                      <div class="form-group">
                        <div class="radio">
                          <label class="radio-inline">
                            <input type="radio" name="clyn" id="clyn1" value="Y" checked>CL
                          </label>
                          <label class="radio-inline">
                            <input type="radio" name="clyn" id="clyn2" value="N">NOT CL
                          </label>
                        </div>
                        <div class="radio">
                          <label class="radio-inline">
                            <input type="radio" name="item_dv" id="ctype1" value="1" checked>무기
                          </label>
                          <label class="radio-inline">
                            <input type="radio" name="item_dv" id="ctype2" value="2">방어구
                          </label>
                          <label class="radio-inline">
                            <input type="radio" name="item_dv" id="ctype3" value="3">코스튬
                          </label>
                          <label class="radio-inline">
                            <input type="radio" name="item_dv" id="ctype4" value="4">날개
                          </label>
                          <label class="radio-inline">
                            <input type="radio" name="item_dv" id="ctype5" value="5">토이
                          </label>
                          <label class="radio-inline">
                            <input type="radio" name="item_dv" id="ctype6" value="6">벨트
                          </label>
                          <label class="radio-inline">
                            <input type="radio" name="item_dv" id="ctype7" value="7">귀걸이
                          </label>
                          <label class="radio-inline">
                            <input type="radio" name="item_dv" id="ctype8" value="8">목걸이
                          </label>
                          <label class="radio-inline">
                            <input type="radio" name="item_dv" id="ctype9" value="9">팔찌
                          </label>
                          <label class="radio-inline">
                            <input type="radio" name="item_dv" id="ctype10" value="10">반지
                          </label>
                          <label class="radio-inline">
                            <input type="radio" name="item_dv" id="ctype11" value="11">왼손반지
                          </label>
                          <label class="radio-inline">
                            <input type="radio" name="item_dv" id="ctype12" value="12">환생악세
                          </label>
                        </div>
                        <div class="radio">
                          <label class="radio-inline">
                            <input type="radio" name="item_dv1" id="stype12" value="2" checked>근거리
                          </label>
                          <label class="radio-inline">
                            <input type="radio" name="item_dv1" id="stype11" value="1">원거리
                          </label>
                        </div>
                        <div class="radio">
                          <label class="radio-inline">
                            <input type="radio" name="item_dv2" id="stype10" value="" checked>전체
                          </label>
                          <label class="radio-inline">
                            <input type="radio" name="item_dv2" id="stype11" value="1">상의
                          </label>
                          <label class="radio-inline">
                            <input type="radio" name="item_dv2" id="stype12" value="2">하의
                          </label>
                          <label class="radio-inline">
                            <input type="radio" name="item_dv2" id="stype13" value="3">코트
                          </label>
                          <label class="radio-inline">
                            <input type="radio" name="item_dv2" id="stype14" value="4">모자
                          </label>
                          <label class="radio-inline">
                            <input type="radio" name="item_dv2" id="stype15" value="5">신발
                          </label>
                          <label class="radio-inline">
                            <input type="radio" name="item_dv2" id="stype16" value="6">가발
                          </label>
                          <label class="radio-inline">
                            <input type="radio" name="item_dv2" id="stype17" value="7">방패
                          </label>
                        </div>
                        <div class="radio">
                          <label class="radio-inline">
                            <input type="radio" name="item_dv3" id="item_dv31" value="1" checked>남성
                          </label>
                          <label class="radio-inline">
                            <input type="radio" name="item_dv3" id="item_dv32" value="2">여성
                          </label>
                        </div>
                        <div class="radio">
                          <label class="radio-inline">
                            <input type="radio" name="item_dv4" id="item_dv40" value="" checked>전체
                          </label>
                          <label class="radio-inline">
                          	<input type="radio" name="item_dv4" id="item_dv41" value="1">1 등급
                          </label>
                          <label class="radio-inline">
                          	<input type="radio" name="item_dv4" id="item_dv42" value="2">2 등급
                          </label>
                          <label class="radio-inline">
                          	<input type="radio" name="item_dv4" id="item_dv43" value="3">3 등급
                          </label>
                          <label class="radio-inline">
                          	<input type="radio" name="item_dv4" id="item_dv44" value="4">4 등급
                          </label>
                          <label class="radio-inline">
                          	<input type="radio" name="item_dv4" id="item_dv45" value="5">5 등급
                          </label>
                          <label class="radio-inline">
                          	<input type="radio" name="item_dv4" id="item_dv46" value="6">6 등급
                          </label>
                          <label class="radio-inline">
                          	<input type="radio" name="item_dv4" id="item_dv47" value="7">7 등급
                          </label>
                          <label class="radio-inline">
                          	<input type="radio" name="item_dv4" id="item_dv48" value="8">8 등급
                          </label>
                          <label class="radio-inline">
                          	<input type="radio" name="item_dv4" id="item_dv49" value="9">9 등급
                          </label>
                          <label class="radio-inline">
                          	<input type="radio" name="item_dv4" id="item_dv410" value="10">10 등급
                          </label>
                          <label class="radio-inline">
                          	<input type="radio" name="item_dv4" id="item_dv411" value="11">11 등급
                          </label>
                          <label class="radio-inline">
                          	<input type="radio" name="item_dv4" id="item_dv412" value="12">12 등급
                          </label>
                        </div>
                      </div>
                      <!--<button type="button" class="btn btn-primary"
                      onclick="my.get_parsing_list(document.forms['list_form'])">web조회및저장</button>-->
                      <button type="button" class="btn btn-primary"
                      onclick="my.get_db_list_all(document.forms['list_form'])">전체조회</button>
                      <button type="button" class="btn btn-primary"
                      onclick="my.get_db_list(document.forms['list_form'])">필터</button>
                      <button type="button" class="btn btn-primary"
                      onclick="my.get_excel_list(document.forms['list_form'])">엑셀</button>

                      <div class="form-group" style="margin-top:20px;">
                          <input type="file" name="filenm" id="filenm" />
                      </div>
                      <button type="button" class="btn btn-primary"
                      onclick="my.set_excel_update(document.forms['list_form'],'1')">엑셀입력</button>
                      <button type="button" class="btn btn-primary"
                      onclick="my.set_excel_update(document.forms['list_form'],'2')">엑셀수정</button>
                      <button type="button" class="btn btn-primary"
                      onclick="my.set_update(document.forms['list_form'])">커스텀수정</button>

                      <input type="hidden" name="excel_flag" id="excel_flag" />
                    </form>
                  </div>
                </div>
              </div>
              <div class="panel-body">
                <div class="table-responsive">
                  <table class="table table-striped" id="list_table" name="list_table">
                    <tbody>
                    </tbody>
                  </table>
                </div>
              </div>
            </div>
          </div>
        </div>
        <!-- /.row -->
      </div>
      <!-- /.container-fluid -->
    </div>
  </div>
  <% include ../partials/script %>
</body>
</html>
