<div style="padding:4px;text-align:center;vertical-align:middle;">
  <!-- 300*50 -->
  <ins class="adsbygoogle"
       style="display:inline-block;width:300px;height:50px"
       data-ad-client="ca-pub-1407998984163880"
       data-ad-slot="6698737810"></ins>
  <script>
  (adsbygoogle = window.adsbygoogle || []).push({});
  </script>
</div>
