<footer class="py-5 bg-dark">
  <div class="container">
    <p class="m-0 text-center text-white">&copy; 2018 ETERINFO. Data based on <a target="_blank" href="http://eternalcity.mgame.com/">이터널시티</a>. alliswell8610@gmail.com.</p>
  </div>
  <!-- /.container -->
</footer>
