<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1">
<meta name="author" content="">

<title><%= title %></title>
<!-- Global site tag (gtag.js) - Google Analytics -->
<script async src="https://www.googletagmanager.com/gtag/js?id=UA-123320555-1"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'UA-123320555-1');
</script>

<script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
<script>
  (adsbygoogle = window.adsbygoogle || []).push({
    google_ad_client: "ca-pub-1407998984163880",
    enable_page_level_ads: true
  });
</script>

<meta name="description" content="<%=description %>" />
<meta name="keywords" content="이터널시티 무기,이터널시티 용병,이터널시티 불법무기,이터널시티 정보,이터널시티 아이템,이터널시티 공격력,이터널시티 시뮬레이션" />
<meta property="og:title" content="이터인포"/>
<meta property="og:url" content="http://eterinfo.kr/"/>
<meta property="og:image" content="http://eterinfo.kr/resource/img/tit_img.png"/>
<meta property="og:description" content="이터인포 - 한국형 좀비 아포칼립스 RPG! 이터널시티의 모든정보!"/>

<link rel="canonical" href="http://eterinfo.kr/">

<link rel="shortcut icon" href="/resource/img/favicon.ico">

<link href="https://fonts.googleapis.com/css?family=Do+Hyeon&amp;subset=korean" rel="stylesheet">

<link href="/resource/css/my.css" rel="stylesheet" type="text/css">

<!-- Bootstrap Core CSS -->
<!--<link href="/resource/bootstrap/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">-->

<!-- MetisMenu CSS -->
<!-- <link href="/resource/bootstrap/vendor/metisMenu/metisMenu.min.css" rel="stylesheet"> -->

<!-- DataTables CSS -->
<!-- <link href="/resource/bootstrap/vendor/datatables-plugins/dataTables.bootstrap.css" rel="stylesheet"> -->

<!-- DataTables Responsive CSS -->
<!-- <link href="/resource/bootstrap/vendor/datatables-responsive/dataTables.responsive.css" rel="stylesheet"> -->

<!-- Custom CSS -->
<!-- <link href="/resource/bootstrap/dist/css/sb-admin-2.css" rel="stylesheet"> -->

<!-- Custom Fonts -->
<!--<link href="/resource/bootstrap/vendor/font-awesome/css/font-awesome.min.css" rel="stylesheet" type="text/css">-->

<!-- Bootstrap2 core CSS -->
<link href="/resource/bootstrap2/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">

<!-- Custom styles for this template -->
<link href="/resource/bootstrap2/css/modern-business.css" rel="stylesheet">

<!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
<!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
<!--[if lt IE 9]>
    <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
    <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
<![endif]-->
