<p style="text-align:center;vertical-align:middle;">
  <ins class="kakao_ad_area" style="display:none;"
   data-ad-unit    = "DAN-qdqibiq9mhr7"
   data-ad-width   = "300"
   data-ad-height  = "250"></ins>
  <script type="text/javascript" src="//t1.daumcdn.net/adfit/static/ad.min.js" async></script>
</p>
