<!DOCTYPE html>
<html lang="ko">
<head>
  <% include ../partials/head %>
</head>
<body>
  <div id="wrapper">
    <% include ../partials/nav %>
    <div id="page-wrapper">
      <div class="container-fluid">
        <div class="row">
          <div class="col-lg-12">
            <h1 class="page-header">공지</h1>
          </div>
        </div>
        <div class="row" style="text-align:center;font-size:18px;">
          안녕하세요.<br/>
          이터인포 방문에 감사드립니다.<br/><br/>
          <b>이 홈페이지는 몬스터넷에서 제작한 이터널시티의 게임데이터를 기반으로 제작되었습니다.</b><br/><br/>
          현재 아이템정보조회및 커스터마이징이 구현된 상태입니다.<br/>
          추후 좀더 디테일한 커스터마이징및 시뮬레이션이 추가 예정입니다.<br/><br/>
          사실, 맞지않는 아이템정보도있고, 없는 아이템도 있습니다.<br/><br/>
          많이 사용하는 아이템위주로 추가하였습니다.<br/>
          CL불무와 일부 CL무기는 정확한 수치이나<br/>
          그외는 이터널시티에서 밸런스패치를 진행이후 정확한 수치를 공개하지 않았기때문에 맞지않습니다.<br/>
          카페에서 유저분들이 올린 스샷을 보고 수정할 수도 있지만, 이거는 너무 노가다이기때문에<br/>
          찬찬히 진행할 예정입니다.<br/><br/>
          이것이 구현되었으면 좋겠다. 정확한 아이템수치를 알고있다 등의 문의는<br/>
          aliswell86@naver.com 로 보내주시면 정말 감사하겠습니다.<br/>
          메일제목에 [이터인포] 라고 표기해주시면<br/>
          수많은 스팸메일속에서 파묻혀져있는 문의메일을 구분하기가 편할것 같습니다.<br/><br/>
          감사합니다.
        </div>
      </div>
    </div>
  </div>
  <% include ../partials/footer %>
  <% include ../partials/script %>
</body>
</html>
